.h1aplzh0{padding:20px 20% 0;position:relative;vertical-align:middle;height:50px;background:white;}
.dkjl14p{padding-left:20px;float:left;}.dkjl14p a{color:#222222;-webkit-text-decoration:none;text-decoration:none;font-size:1.6rem;font-weight:800;}
.pgpvzc3{float:right;line-height:30px;padding-right:20px;}.pgpvzc3 a{color:#222222;-webkit-text-decoration:none;text-decoration:none;font-size:1.2rem;font-weight:800;}
