@import '../theme.scss';

// pagination
.pagination {
    margin: 20px auto 10%; 
    position: relative; 
    @media (max-width: 800px) {
        .pagination {
            width: 70%;
        }
    }
    @media (max-width: 500) {
        .pagination {
            width: 90%;
        }
    }
}

.nextButton, .prevButton {
    margin-bottom: 100px; 
    position: absolute; 
    color: $button_color;
    font-weight: $thick;
    text-decoration: none;
    font-size: $h4;
    font-weight: $thick;
}
.nextButton {
    right: 0;
}
.prevButton {
    left: 0;
}

// blog 
.main {
    margin-top: 130px; 
    text-align: center;
}
.home { 
    width: 60%;
    margin: auto;
    @media (max-width: 800px) {
        width: 80%;
    }
}

.items {
    display: block;
}

.box {
    margin: 3% auto; 
    padding: 20px 5% 10px; 
    box-shadow: 4px 4px 8px gray;
    width: 60%;
    text-align: center;
    line-height: 2;
    background: linear-gradient(90deg, $theme_main 5%, white 5%);

    h1 {
        font-size: $h4;
        color: $theme_text;
    }

    @media (max-width: 800px) {
        width: auto;
    }

    img {
        width: 80%;
    }

    a {
        font-size: $h5; 
        color: $theme_text; 
        font-weight: $thick;
        text-decoration: none;
    }

    p {
        font-size: $p; 
        font-weight: $thick;
        color: $theme_text;
    }
}

.detail { 
    text-align: center; 
    margin: 50px; 

    p {
        font-size: $h5;
        color: $theme_text;
        font-weight: $thick;
    }
}

.comment {
    margin: 20px 0;
    padding: 0 0 5px;
    border-bottom: 2px solid rgb(221, 221, 221);

    p, span {
        color: $theme_text;
    }
    p {
        padding-bottom: 10px;
        font-size: $h4;
        font-weight: $thick;
    }
    span {
        font-size: $p;
    }
}