@import '../theme.scss';

.main {
    margin-top: 20px;
    position: relative;
    text-align: center;
    h1 {
        margin: 0 auto 0;
        font-size: $h3;
        font-weight: $thick;
        color: $theme_text;
        width: 50%;
        border-bottom: 2px solid $pink_kawaii;
    }
    p {
        margin-top: 10px;
        font-size: $h4;
        color: $theme_subtext;
    }

    @media (max-width: 500px) {
        h1 {
            width: 80%;
        }
    }
}

.snsicon {
    margin: 20px 30px 0;
    height: 50px;
    width: 50px;
}