@import '../theme.scss';

.form {
    margin: 0 auto;
    width: 50%;
    @media (max-width: 800px) {
        width: 85%;
    }
}

input, textarea {
    margin: 20px 0;
    border: none; 
    border-bottom: 2px solid $theme_main;
    font-size: $h5; 
    width: 100%;
    height: $h4;
}

input {
    width: 80%;
}

.submit {
    padding: 10px auto;
    background: $theme_main;
    text-align: center;
    color: white; 
    width: 150px;
    height: 30px;
    font-size: $h5; 
    border: none;
    border-radius: 5px;
}