@import './theme.scss';

#title {
    margin-bottom: 10px;
    font-size: $h2; 
    color: $theme_text;
    font-weight: $thick;
}

#heading {
    margin-bottom: 10px;
    font-size: $h3; 
    color: $theme_text;
    font-weight: $thick;

    @media (max-width: 500px) {
        font-size: $h4; 
    }
}