$theme_main: #7fd5ea;
$theme_text: #222222;
$theme_line: #a8a8a8;
$theme_subtext: #707070;

$button_color: #FF69B4;

$pink_kawaii: #FF69B4;
$theme_back: #7fd5ea41;


$h1: 4rem;
$h2: 3.2rem;
$h3: 2.4rem;
$h4: 1.6rem;
$h5: 1.2rem;
$p: 1.2rem;

$thin: 100;
$thick: 800;
$nomal: 400;

$tablet: 800px; 
$phone: 500px; 